$crimson-color: crimson;
$white-color: #ffffff;

$poppins-Font: "poppins", sans-serif;
$ubuntu-Font: ubuntu, sans-serif;

@mixin max-width {
  max-width: 1300px;
  padding: 0px 80px;
  margin: auto;
}

@mixin component-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
