@import "../variabels/variabel.styles.scss";

.about {
  height: 100vh;
  background-color: white;

  .max-width {
    .about-content {
      @include component-content;

      .left {
        width: 45%;
        img {
          height: 400px;
          width: 400px;
          object-fit: cover; /* how my image  should be resized to fit its container. */
          border-radius: 6px;
        }
      }

      .right {
        width: 55%;
        .text {
          font-size: 25px;
          font-weight: 600;
          margin-bottom: 10px;
          span {
            color: $crimson-color;
          }
        }
        a {
          display: inline-block;
          background: $crimson-color;
          color: $white-color;
          font-size: 20px;
          padding: 10px 30px;
          margin-top: 20px;
          font-weight: 500;
          border-radius: 6px;
          border: 2px solid $crimson-color;
          transition: all 0.3s ease;
          &:hover {
            background: none;
            color: $crimson-color;
          }
        }
      }
    }
  }
}
