@import "../variabels/variabel.styles.scss";

.contact {
  color: white;
  background-color: #111;
  height: 100vh;
  .max-width {
    .title {
      &::before {
        background: $white-color;
      }
      &::after {
        content: "get in touch";
        background: #111;
      }
    }
    .contact-content {
      //outline: 1px solid red;
      @include component-content;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem;
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;

      .left {
        .text {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        p {
          text-align: justify;
        }
        .icons {
          margin: 10px 0;
        }
        .row {
          display: flex;
          height: 65px;
          align-items: center;
          .info {
            margin-left: 30px;
            .head {
              font-weight: 500;
            }
            .sub-title {
              color: crimson;
            }
          }

          i {
            font-size: 25px;
            color: crimson;
          }
        }
        .contact_icons {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 100px;
          padding-top: 10px;
          i {
            color: crimson;
            font-size: 50px;
            transition: all 0.3s ease;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
      .right {
        // outline: 1px solid red;
        height: 100%;
        .text {
          //outline: 1px solid red;
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
          margin-top: 0px;
        }
        .fields {
          display: flex;

          .field {
            height: 45px;
            // width: 100%;
            margin-bottom: 15px;
          }
          .name {
            margin-right: 10px;
          }
          .email {
            margin-left: 10px;
          }
          .textarea {
            height: 80px;
          }
        }
        .field {
          height: 45px;
          width: 100%;
          margin-bottom: 15px;
          input {
            height: 100%;
            width: 100%;
            border: 1px solid white;
            border-radius: 6px;
            outline: none;
            padding: 0 15px;
            font-size: 17px;
            font-family: "poppins", sans-serif;
            transition: all 0.3s ease;
          }
        }
        .textarea {
          textarea {
            height: 230px;
            width: 100%;
            border: 1px solid lightgrey;
            border-radius: 6px;
            outline: none;
            padding: 0 15px;
            font-size: 17px;
            font-family: "poppins", sans-serif;
            transition: all 0.3s ease;

            padding-top: 10px;
            resize: none;
          }
        }
        .button-area {
          height: 47px;
          width: 170px;
          margin-top: 200px;

          button {
            color: #fff;
            display: block;
            width: 160px !important;
            height: 45px;
            outline: none;
            font-size: 18px;
            font-weight: 500;
            border-radius: 6px;
            cursor: pointer;
            flex-wrap: nowrap;
            background: crimson;
            border: 2px solid crimson;
            transition: all 0.3s ease;

            &:hover {
              color: crimson;
              background: none;
            }
          }
        }
      }
    }
  }
}
