* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
// FONTS : POPPINS ( regular 400 / medium 500 / semi-bold 600 / Bold 700 )

body {
}
